@font-face {
    font-family: 'SEGA LOGO FONT';
    font-size: normal;
    font-size: normal;
    src: url('SEGA.TTF');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0c0ac4;
}